{%extends 'Site/base.html'%}
{% load static %}

{% block content %}
     <div class="main-img">
                <img src="{% static 'homepage.png' %}" width="50%">     
        </div>
        <div class="content">
                <p>《诗经·郑风·溱洧》：「士与女，方<strong>秉蕑</strong>兮。 」</p>
                <p><strong>“蕑”</strong>（jian一声） 为中国传统文化中的兰草，其寓意落于在复杂的环境中秉持自己的价值观。而“秉”便是取自秉持，寓意抓住真理的坚韧精神。</p>
                <p>秉蕑是由一群拥有行动力，理想主义，社会影响力的人们聚集在一起，希望能够让性教育得到更好的普及，通过教育让更多需要的人得到身心的赋权的社区。</p> 
        </div>
        <div class="footer">
        <div class="info-item">
            <div class="info-icon">📍</div>
            <strong>Address</strong>
            <p>No. 88 Kun-Cheng-Hu-Xi Road Changshu, Suzhou, Jiangsu Province, China</p >
        </div>
        
        <div class="info-item">
            <div class="info-icon">📞</div>
            <strong>Phone</strong>
            <p>+86 18118435242</p >
        </div>
        
        <div class="info-item">
            <div class="info-icon">✉️</div>
            <strong>Email</strong>
            <p>hannah.061203@qq.com</p >
        </div>

        <div class="info-item">
            <div class="info-icon">🌍</div>
            <strong>Languages</strong>
            <p><a href="/site/home/eng=off">🇨🇳</a> <a href="/site/home/eng=on">🇺🇸</a></p>
        </div>
    </div>
        
{% endblock %}