{%extends 'Site/base.html'%}
{% load static %}

{% block content %}
     <div class="main-img">
                <img src="{% static 'contactus.jpg' %}" width="100%">     
    </div>
    <div class="content">
        <h1>联系我们</h1><hr style="width:40%;">
        <p style="position: relative">我们很乐意听取你的意见！请填入以下表格：</p>

        <h6 id="thank_you">感谢您与我们联系！我们已收到您的消息，并将尽快回复您。</h6>
    </div>
{% endblock %}

{% block lang %}
        <div class="info-item">
            <h4><div class="info-icon">🌍</div></h4>
            <h5><a href="/site/contact/eng=off" style="color:white; text-decoration:none">中文</a> | <a href="/site/contact/eng=on" style="color:white; text-decoration:none">English</a></h5>
        </div>
{% endblock %}