{%extends 'Site/base.html'%}
{% load static %}

{% block content %}
        <div class="main-img">
                <img src="{% static 'homepage.png' %}" width="50%">     
        </div>
        <div class="content">
                <h3>我们是谁</h3><hr style="width:40%">
                <p><em>Know Your Body, Own Your Choice.</em></p> 
                <p>创立于2025年的国际教育俱乐部。致力于通过公益教育咨询与性教育普及等活动，为更多孩子提供教育赋权。通过青年写作大赛、公益出版、跨界论坛等创新形式，搭建女性成长支持系统。</p>
                <a href="/site/about/" style="text-decoration:none">>>>了解更多</a><hr style="width:0%">

                <h3>我们具体做什么</h3><hr style="width:80%">
                <ol>
                        <li>公益助学</li><br><p style="padding-right:10px;">本计划为教育资源，经济有困难的青少年及成年学习者联络，提供公益服务，咨询：</p><br>
                                <ul>
                                        <li>寻找，联络具有特别政策的组织，院校，联动社会人士/高校学生优化，辅助受帮助学生申请材料，奖学金/助学金，提升成绩，寻找资助人。</li>
                                        <li>联动，合作其他机构，组织，为需要帮助的学生提供多方位辅助。</li>
                                </ul>
                        <li>性教育科普</li>
                        <li>艺术影响力</li>  

                </ol>
        </div>
            <div class="footer">
        <div class="info-item">
            <div class="info-icon">📍</div>
            <strong>Address</strong>
            <p>中国江苏省常熟市昆承湖西路88号</p >
        </div>
        
        <div class="info-item">
            <div class="info-icon">📞</div>
            <strong>Phone</strong>
            <p>+86 18118435242</p >
        </div>
        
        <div class="info-item">
            <div class="info-icon">✉️</div>
            <strong>Email</strong>
            <p>hannah.061203@qq.com</p >
        </div>

        <div class="info-item">
            <div class="info-icon">🌍</div>
            <strong>语言</strong>
            <p><a href="/site/home/eng=off" style="text-decoration:none">🇨🇳</a> <a href="/site/home/eng=on" style="text-decoration:none">🇺🇸</a></p>
        </div>
    </div>
{% endblock %}