{%extends 'Site/base.html'%}
{% load static %}

{% block content %}
        <div class="main-img">
                <img src="{% static 'homepage.jpg' %}" style="width:100%; height:100%;">     
        </div>
        <div class="content">
                <h1>我们是谁</h1><hr style="width:23%">
                <h4 style="line-height: 200%;"><em>Know Your Body, Own Your Choice.</em></h4> 
                <h4 style="line-height: 200%;">创立于2025年的国际教育俱乐部。致力于通过公益教育咨询与性教育普及等活动，为更多孩子提供教育赋权。通过青年写作大赛、公益出版、跨界论坛等创新形式，搭建女性成长支持系统。</h4><br>
                <a href="/site/about/eng=off" style="text-decoration:none"><h4>>>>了解更多</h4></a><hr style="width:0%">

                <br><h1>我们具体做什么</h1><hr style="width:40%">
                <ol style="font-size: 25px;">
                        <li><strong>公益助学</strong></li><br><h4 style="padding-right:10px;">本计划为教育资源，经济有困难的青少年及成年学习者联络，提供公益服务，咨询：</h4><br>
                                <ul>
                                        <li>寻找，联络具有特别政策的组织，院校，联动社会人士/高校学生优化，辅助受帮助学生申请材料，奖学金/助学金，提升成绩，寻找资助人。</li>
                                        <li>联动，合作其他机构，组织，为需要帮助的学生提供多方位辅助。</li><br>
                                </ul>
                        <li><strong>性教育科普</strong></li><br>
                                <ul>
                                        <li>支教</li>
                                        <ul>
                                        <li>为组织，机构，学校，个人，家庭提供线上/线下适龄性性教育科普类课程。</li>
                                        <li>运营性教育科普类社交媒体账号。</li>
                                        <li>联动，合作其他机构，组织，覆盖更多孩子，提供多样的性教育课程。</li>
                                        </ul><br>
                                        <li>联合推动</li>
                                        <ul>
                                        <li>开发性教育科普小程序或APP，覆盖更多人群。</li>
                                        <li>创作，出版性教育，女性保护类书籍，例如女性法律工具书，女性成长访谈录。</li>
                                        </ul><br>
                                </ul>
                        <li><strong>艺术影响力</strong></li> <br>
                                <ul>
                                        <li>策划，举办性别平等，女性议题向征文，投稿，比赛。</li>
                                        <li>采访，专访女性故事，经历。</li>
                                        <li>策划，举办公益艺术展，聚焦女性艺术家。</li>
                                        <li>公众号深度性别议题类文章产出。</li>
                                </ul><br>
                
                <h1 style="transform:translateX(-60px)">招新</h1><hr style="width:12%; transform: translateX(-30px);">
                        <h4 style="transform:translateX(-30px)">目前，我们正开展【秉蕑2025-2026年团队招募】</h4><br>

                        <strong><h4 style="transform:translateX(-30px)">为什么加入我们？</h4></strong><br>
                        <ul style="transform:translateX(-30px)">
                                        <li>加入此意义非凡的行动，成为青年领袖，收获一份与众不同的人生经历。</li>
                                        <li>锻炼与提升自己的策划，管理，沟通能力。</li>
                                        <li>结交人士来自世界各地的行业精英和不同背景的同学，建立社交网络。</li><br>
                        </ul>
</h4>

                        
                        
                <a href="https://mp.weixin.qq.com/s?__biz=Mzk3NTgxNjUwNw==&mid=2247483746&idx=1&sn=50cdf5694bb8a003919163f78c7f98fd&scene=21#wechat_redirect" target="_blank"><h4>>>>点击查看详情</h4></a><hr style="width:0%">
                <a href="/site/team/eng=off"><h4>>>>点击了解我们的团队</h4></a><hr style="width:0%">

                </ol>
        </div>
{% endblock %}

{% block lang %}
        <div class="info-item">
            <h4><div class="info-icon">🌍</div></h4>
            <h5><a href="/site/home/eng=off" style="color:white; text-decoration:none">中文</a> | <a href="/site/home/eng=on" style="color:white; text-decoration:none">English</a></h5>
        </div>
{% endblock %}