{%extends 'Site/base.html'%}
{% load static %}

{% block content %}
     <h1>Thank you so much for the submission! We will reach out to you as soon as we get a chance!</h1>
{% endblock %}

{% block lang %}
        <div class="info-item">
            <h4><div class="info-icon">🌍</div></h4>
            <h5><a href="/site/kaleidoscope/eng=off" style="color:white; text-decoration:none">中文</a> | <a href="/site/kaleidoscope/eng=on" style="color:white; text-decoration:none">English</a></h5>
        </div>
{% endblock %}