{%extends 'Site/baseeng.html'%}
{% load static %}

{% block content %}
     <div class="main-img">
                <img src="{% static 'service-alt.jpg' %}" width="100%">     
        </div>
        <div class="content" style="transform: translateY(-100px);">
            <h1>Service</h1><hr style="width:40%">
                <p>This is the English Page for Service</p>
                <div class="content">
            <h1 style="position: absolute; top:-50px; transform:translateY(90px) translateX(-30px);">Want to join Volunteering?</h1><hr style="width:40%; transform:translateY(60px)">
                <p style="position: absolute; transform:translateY(60px)">Thank you for your contribution! We will reach out to you as soon as possible!</p>
        </div>
        </div>
{% endblock %}

{% block lang %}
        <div class="info-item">
            <h4><div class="info-icon">🌍</div></h4>
            <h5><a href="/site/submit_service/eng=off" style="color:white; text-decoration:none">中文</a> | <a href="/site/service/eng=on" style="color:white; text-decoration:none">English</a></h5>
        </div>
{% endblock %}